<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Определение пути для логов -->
    <property name="LOG_PATH" value="logs"/>

    <!-- Appender для записи в файл -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Ротация логов по дням -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/datingapp-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Максимальное количество сохраненных логов (за последние 5 дней) -->
            <maxHistory>5</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <!-- Формат логов: дата, уровень логирования, поток, логгер и сообщение -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender для вывода логов в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Формат вывода в консоль с цветом -->
            <pattern>%cyan(%d{HH:mm:ss.SSS}) [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройка уровня логирования -->
    <root level="INFO">
        <!-- Используем и файл, и консоль для вывода логов -->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
